<div class="container">
  <div class="row">
    <div class="col-3">
      <a routerLink="/home">
        <img src="assets/logo.png" alt="RiseUp Agency logo" width="60">
      </a>
    </div>
    <div class="col-9">
      <div class="menu">
        <a routerLink="/shoppingCart" class="add"><i class="fas fa-cart-plus"></i>{{quantity}}</a>
        <button class="say">
          <i class="fas fa-user"></i>
          Login
        </button>
        <button class="say" routerLink="/home">
          <i class="fas fa-home"></i>
          Home
        </button>
      </div>
    </div>
  </div>
  <nav class="navbar">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">OUR STORY</a></li>
      <li><a href="#">SERVICES</a></li>
      <li><a href="#">PROJECTS</a></li>
      <li><a href="#">PARTNER</a></li>
      <li><a href="#">CONTACT US</a></li>
    </ul>
  </nav>
  <div class="row social">
    <div class="col-12">
      <a href="#">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </div>
</div>