.row{
    margin-bottom: 1rem;
    padding: .5em;
    box-shadow: 1px 2px 4px 1px rgba(0, 0,0,.5);
    border-radius: 20px;
}

.quant{
    display: flex;
}

.icons .btn{
    margin-right: .2em;
}

h4{
    cursor: pointer;
}

h4:hover{
    color: skyblue;
    text-decoration: underline skyblue;
    transition: .7s;
}